.navbar_item {width: 163px;
height: 69px;
font-family: 'Montserrat','sans-serif';
font-style: normal;
font-weight: 800;
font-size: 21.9286px;
line-height: 29px;
display: flex;
align-items: flex-end;
color: transparent;
flex: none;
order: 0;
flex-grow: 0;
text-align: right; 
display: inline-block;
width: 102px;
margin-right: auto;
position: relative; 
top: 12px;
color: black;
}

.navbar_logo {
    margin-right:auto;
    margin-top: auto;
    width: 428px;
    height: 138px;
    position: relative;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 31.3265px;
    gap: 20.44px;
    width: 165px;
    height: 75.18px;
    background: greenyellow;
    color: #FFFFFF;
    border-radius: 75px;
flex: none;
font-family: 'Montserrat','sans-serif';
text-align: center;
line-height: 1;
font-style: normal;
font-weight: 700;
font-size: 21.9286px;
line-height: 27px;
display: flex;
color: #373737;
margin-left: auto;
top: -10px;
position: relative;
}

.header {
width: 1125.15px;
height: 200.18px;
font-family: 'Montserrat','sans-serif';
font-style: normal;
font-weight: 300;
font-size: 200;
line-height: 73px;
display: flex;
align-items: center;
color: #4C4C4C;

transform: rotate(0.2deg);
}

.paragraph {
    width: 1366.02px;
    height: 20.52px;
    font-family: 'Montserrat','san-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #828282;
    transform: rotate(0.2deg);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 20px;

}

.get-started {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    background-color: greenyellow;
    color: black;
    border-radius: 100px;
    position: absolute;
    padding: 40px;
    margin-top: 140px;
    
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 82px; 
    position: absolute;
    width: 964px;
    height: 297px;
    left: 89px;
    top: 1372px;
    margin-top: -400px;

}

.description {
    position: absolute;
    width: 986px;
    height: 598px;
    left: 89px;
    top: 1647px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: gray;
    margin-top : -700px;
    float:left;

}

.body {
    background-color: gainsboro;
}

.image {
    float: right;
    margin-top: -300px; 
    position: absolute;
    right : 230px;
    max-width: 47% ;
    max-height: 47%;

  }



.moodtrack {
    width: 1400px;
    height: 800px;
    font-family: 'Montserrat','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4C4C4C;
    margin-top: 1000px;
    margin-left: -100px;
}




.image-row {
    display: flex;
    margin-top: -250px;
    margin-right : -20px;
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; 
  margin-left: 230px;
  }
  
  .image-row img {
    flex: 1;
    max-width: 25%;
    height:25%;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive sizing */
    margin-top: 100px;
    margin-left: 190px;
     
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;

  }

  .LoginPage {

    position: absolute;
    width: 704px;
    height: 690px;
    left: 451px;
    top: 131px;
    position: absolute;
width: 487.38px;
height: 71.27px;
left: 559.31px;
top: 198.73px;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 55.2264px;
line-height: 72px;
/* identical to box height, or 130% */

text-align: center;

/* Heading */

color: #212B27;

    


  }